<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" translate="no">

<head>
    <title>GUI - IRT Technologies</title>
    <meta charset="UTF-8"/>
    <meta name="google" content="notranslate" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel='stylesheet' href='/webjars/bootstrap/5.3.5/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='../static/css/home.css' th:href="@{/css/home.css}"/>
</head>

<body>
<div class="container-fluid">
	<div class="row g-1">
		<div class="col-xxl-2 col-lg-2 col-md-2 col-sm-3 col-12" th:replace="home :: serial-port">
			<div class="row row-cols-1">
				<div class="col">
					<img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="img-fluid" alt="Logo"/>
				</div>
				<h4 class="text-center" th:text="'IRT GUI v.' + ${version}"></h4>
				<div class="col form-floating mb-3">
					<select id="serialPort" class="form-select" aria-label="Select Serial Port">
						<option selected="selected" disabled="disabled" hidden="hidden">Select Serial Port</option>
					</select>
					<label for="serialPort">Serial Port (RS485)</label>
				</div>
				<div class="col form-floating mb-3">
					<select id="baudrate" class="form-select" aria-label="Select Serial Port">
						<option th:each="br : ${baudrates}" th:text="${br.value}">Baudrate</option>
					</select>
					<label for="baudrate">Baudrate</label>
				</div>
				<div class="col mb-3">
					<input id="btnStart" type="checkbox" class="btn-check" disabled="disabled"/>
					<label for="btnStart" class="btn btn-outline-primary form-control">Start</label>
				</div>
				<div class="col form-floating mb-3">
					<input id="unitAddress" type="number" class="form-control" value="254"/>
					<label for="unitAddress">Unit Address</label>
				</div>
				<div class="col mb-3">
					<input id="btnShowErrors" type="checkbox" class="btn-check"/>
					<label for="btnShowErrors" class="btn btn-outline-danger opacity-75 form-control">App Errors</label>
				</div>
				<div class="col"><button id="appExit" class="btn btn-outline-dark form-control">Exit</button></div>
			</div>
		</div>
		<div class="col">
			<div id="reg1Card" class="card">
  				<div class="card-body">
					<div class="row mt-2">
						<div class="col">
							<div class="form-floating">
								<input id="regIndex1" type="number" class="form-control reg-index" placeholder="Index"/>
  								<label for="regIndex1">index</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regAddr1" type="number" class="form-control reg-addr" placeholder="Address"/>
  								<label for="regAddr1">Address</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regMin1" type="number" class="form-control reg-min" placeholder="Minimun" value="0"/>
  								<label for="regMin1">Minimum</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="gegMax1" type="number" class="form-control reg-max" placeholder="Maximun" value="100"/>
  								<label for="gegMax1">Maximum</label>
  							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="form-floating">
								<input id="regValue1" type="number" class="form-control value" placeholder="Value" readonly="readonly"/>
  								<label for="regValue1">Saved Value</label>
  							</div>
						</div>
  						<div class="col">
							<div class="form-floating">
								<input id="regControl1" type="number" class="form-control control" placeholder="to Set"/>
  								<label for="regControl1">to Set</label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regStep1" class="form-control step" type="number" placeholder="Step"/>
  								<label for="regStep1">Step</label>
							</div>
						</div>
 					</div>
					<div>
						<input id="regRange1" type="range" class="form-range mt-5" data-bs-toggle="tooltip" data-bs-title="0"/>
					</div>
 				</div>
 			</div>
			<div id="reg2Card" class="card">
  				<div class="card-body">
					<div class="row mt-2">
						<div class="col">
							<div class="form-floating">
								<input id="regIndex2" type="number" class="form-control reg-index" placeholder="Index"/>
  								<label for="regIndex2">index</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regAddr2" type="number" class="form-control reg-addr" placeholder="Address"/>
  								<label for="regAddr2">Address</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regMin2" type="number" class="form-control reg-min" placeholder="Minimun" value="0"/>
  								<label for="regMin2">Minimum</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="gegMax2" type="number" class="form-control reg-max" placeholder="Maximun" value="100"/>
  								<label for="gegMax2">Maximum</label>
  							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="form-floating">
								<input id="regValue2" type="number" class="form-control value" placeholder="Value" readonly="readonly"/>
  								<label for="regValue2">Saved Value</label>
  							</div>
						</div>
  						<div class="col">
							<div class="form-floating">
								<input id="regControl2" type="number" class="form-control control" placeholder="to Set"/>
  								<label for="regControl2">to Set</label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regStep2" class="form-control step" type="number step" placeholder="Step"/>
  								<label for="regStep2">Step</label>
							</div>
						</div>
 					</div>
					<div>
						<input id="regRange2" type="range" class="form-range mt-5" data-bs-toggle="tooltip" data-bs-title="0"/>
					</div>
 				</div>
 			</div>
			<div id="reg3Card" class="card">
  				<div class="card-body">
					<div class="row mt-2">
						<div class="col">
							<div class="form-floating">
								<input id="regIndex3" type="number" class="form-control reg-index" placeholder="Index"/>
  								<label for="regIndex3">index</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regAddr3" type="number" class="form-control reg-addr" placeholder="Address"/>
  								<label for="regAddr3">Address</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regMin3" type="number" class="form-control reg-min" placeholder="Minimun" value="0"/>
  								<label for="regMin3">Minimum</label>
  							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="gegMax3" type="number" class="form-control reg-max" placeholder="Maximun" value="100"/>
  								<label for="gegMax3">Maximum</label>
  							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="form-floating">
								<input id="regValue3" type="number" class="form-control value" placeholder="Value" readonly="readonly"/>
  								<label for="regValue3">Saved Value</label>
  							</div>
						</div>
  						<div class="col">
							<div class="form-floating">
								<input id="regControl3" type="number" class="form-control control" placeholder="to Set"/>
  								<label for="regControl3">to Set</label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input id="regStep3" class="form-control step" type="number step" placeholder="Step"/>
  								<label for="regStep3">Step</label>
							</div>
						</div>
 					</div>
					<div>
						<input id="regRange3" type="range" class="form-range mt-5" data-bs-toggle="tooltip" data-bs-title="0"/>
					</div>
 				</div>
 			</div>
		</div>
	</div>
	<footer class="row align-items-center py-3 my-4 border-top">
			<div class="col-auto"><img alt="https://www.irttechnologies.com" src="/qr-code?text=https://www.irttechnologies.com"/></div>
			<div class="col text-center">
				 <a href="https://www.irttechnologies.com" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="IRT Technologies" target="_blank"><img class="logo__img" src="/images/logo_sm.png" alt="logo"/></a>
				 <span class="mb-3 mb-md-0 text-body-secondary">© 2025 IRT Technologies, Inc</span>
			</div> 
			<div class="col-auto"><img alt="IRT GUI" src="/qr-code"/></div>
	</footer>
</div>

<div id="modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
    		<div class="modal-content">
<!-- Modal Header -->
      			<div class="modal-header">
        			<h5 class="modal-title ml-3 text-primary">The IRT GUI has been completed.</h5>
      			</div>
 <!-- Modal Body -->
      			<div class="modal-body">
      				<p>The IRT GUI has finished working.</p>
      				<p>You can close your browser.</p>
      			</div>
    		</div>
  		</div>
</div>
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3">
</div>

<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<script src="/webjars/js-cookie/3.0.1/js.cookie.js"></script>
<script src="/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js"></script>
<script type="module" src="../static/js/regs.js" th:src="@{/js/regs.js}"></script>

</body>
</html>