.connection-ok{
	border-color: green !important;
}
.connection-fail{
	border-color: red !important;
}
.connection-wrong{
	border-color: yellow !important;
}
.connection-buisy{
	border-color: black !important;
}
.toast-body{
	white-space: pre-wrap;
}
.input-selected{
	background-color: yellow;
}
.pre-line{
	white-space: pre-line;
}
