.language-selector {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background: rgb(22, 67, 150);
    cursor: pointer;
    box-sizing: border-box;
}

.language-current {
    width: 100%;
}

.language-current label {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.language-current img,
.language-options img {
    margin: 3px;
    width: 1.5rem;
    height: auto;
    border-radius: 10%;
    border: 1px solid white;
}

.language-current label span {
	min-width: 5rem;
    color: yellow;
    display: none;
    white-space: nowrap;
}

.language-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgb(22, 67, 150);
}

.language-selector:hover label span,
.language-selector:hover .language-options {
    display: block;
}

.language-options a {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 6px;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.language-options a:hover {
    background: yellow;
    color: black;
}