<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
    	<PatternLayout pattern="%-5p %d [%t] %C{2} %M (%F:%L) - %m%xEx%n"/>
   		<MarkerFilter marker="FileWork" onMatch="DENY" onMismatch="ACCEPT"/>
    </Console>

    <RollingFile name="DumpFile" fileName="${sys:user.home}/irt/${sys:serialNumber}/${sys:serialNumber}.3.168.log"
    						  filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/${sys:serialNumber}-%d{yyyy-MM-dd}-%i.log.gz"
    						  bufferedIO="false">
		<PatternLayout pattern="=== %d %m%n%n" />
		<Policies>
			<SizeBasedTriggeringPolicy size="20 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingFile>

    <RollingRandomAccessFile name="communication" fileName="${sys:user.home}/irt/comm.log"
    						  			filePattern="${sys:user.home}/irt//$${date:yyyy-MM}/comm-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%-5p %d %M (%F:%L) %m%n"/>
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="log" fileName="${sys:user.home}/irt/gui3log.log"
    					filePattern="${sys:user.home}/irt/gui3log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%-5p %d %M (%F:%L) %m%n"/>
   		<MarkerFilter marker="FileWork" onMatch="DENY" onMismatch="ACCEPT"/>
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
 
<!--  	<Logger name="irt.irt_gui.IrtGui" level="all"/> -->

<!--  	<Logger name="irt.tools.ALCComboBox" level="all"/> -->

<!--  	<Logger name="irt.tools.CheckBox.SpectrumInversionSwitch" level="all"/> -->
<!--  	<Logger name="irt.tools.CheckBox.LnbPowerSwitch" level="debug"/> -->
<!--  	<Logger name="irt.tools.CheckBox.LnbReferenceSwitch" level="all"/> -->

<!--  	<Logger name="irt.tools.combobox.LoSelectComboBox" level="all"/> -->

<!--  	<Logger name="irt.tools.fx.MonitorPanelFx" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.MonitorPanelSwingWithFx" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.JavaFxWrapper" level="all"/> -->

<!--  	<Logger name="irt.tools.textField.RegisterTextField" level="all"/> -->
<!--  	<Logger name="irt.tools.textField.UnitAddressField" level="all"/> -->

<!--  	<Logger name="irt.tools.button.MuteButton" level="all"/> -->

<!--  	<Logger name="irt.tools.panel.subpanel.progressBar.Section" level="debug"/> -->
<!--   	<Logger name="irt.tools.panel.subpanel.control.ControlPanelHPB" level="all"/> -->
<!--   	<Logger name="irt.tools.panel.subpanel.NetworkPanel" level="all"/> -->

<!--  	<Logger name="irt.controller.DumpControllerFull" level="all"/> -->
<!--  	<Logger name="irt.data.packet.denice_debag.DeviceDebugHelpPacket" level="debug"/> -->

<!--  	<Logger name="irt.controller.ValueController" level="all"/> -->
 	<Logger name="irt.controller.GuiControllerAbstract" level="all"/>
<!--  	<Logger name="irt.controller.GuiController" level="error" /> -->
<!-- 	<Logger name="irt.tools.panel.UserPicobucPanel" level="debug"/> -->

<!--  	<Logger name="irt.controller.control.UnitControllerImp" level="all"/> -->

<!--  	<Logger name="irt.controller.translation.Translation" level="debug"/> -->

<!--  	<Logger name="irt.controller.serial_port.ComPortThreadQueue" level="all"/> -->
<!--  	<Logger name="irt.controller.serial_port.ComPortPureJava" level="debug"/> -->
<!--  	<Logger name="irt.controller.serial_port.ComPortJssc" level="warn"/> -->
<!--  	<Logger name="irt.controller.serial_port.ComPortJSerialComm" level="all"/> -->
<!--  	<Logger name="irt.controller.serial_port.SerialPortListener" level="info"/> -->
<!--  	<Logger name="irt.controller.serial_port.SerialPortWorker" level="info"/> -->

<!--  	<Logger name="irt.data.AdcWorker" level="all"/> -->

<!--  	<Logger name="irt.tools.fx.AlarmPanelFx" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.ControlPanelIrPcFx" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.debug.DeviceDebugPanel" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.update.UpdateButtonJFXPanel" level="all"/> -->

<!--  	<Logger name="irt.tools.fx.update.profile.ProfileValidator" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.update.profile.table.ProfileTables" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.update.profile.Profile" level="all"/> -->


    <Logger name="dumper" level="ALL">
      <AppenderRef ref="DumpFile" />
    </Logger>

	<Logger name="irt.controller.serial_port.SerialPortInterface" level="error" />

    <Root level="error">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="log"/>
    </Root>
  </Loggers>
</Configuration>
