<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
    	<PatternLayout pattern="%-5p %d [%t] %C{2} %M (%F:%L) - %m%xEx%n"/>
   		<MarkerFilter marker="FileWork" onMatch="DENY" onMismatch="ACCEPT"/>
    </Console>

    <RollingFile name="DumpFile" fileName="${sys:user.home}/irt/${sys:serialNumber}/${sys:serialNumber}.3.122.log"
    						  filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/${sys:serialNumber}-%d{yyyy-MM-dd}-%i.log.gz"
    						  bufferedIO="false">
		<PatternLayout pattern="=== %d %m%n%n" />
		<Policies>
			<SizeBasedTriggeringPolicy size="20 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingFile>

    <RollingRandomAccessFile name="communication" fileName="${sys:user.home}/irt\${sys:serialNumber}/comm_${sys:serialNumber}.log"
    						  			filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/comm_${sys:serialNumber}-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%-5p %d %M (%F:%L) %m%n"/>
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="log" fileName="${sys:user.home}/irt/${sys:serialNumber}/log_${sys:serialNumber}.log"
    					filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/log_${sys:serialNumber}-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%-5p %d %M (%F:%L) %m%n"/>
   		<MarkerFilter marker="FileWork" onMatch="DENY" onMismatch="ACCEPT"/>
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
 
<!--  	<Logger name="irt.irt_gui.IrtGui" level="all"/> -->
<!--  	<Logger name="irt.tools.textField.UnitAddressField" level="all"/> -->
<!--  	<Logger name="irt.tools.ALCComboBox" level="all"/> -->
<!--   	<Logger name="irt.tools.panel.subpanel.control.ControlPanelHPB" level="all"/> -->
<!--  	<Logger name="irt.controller.ValueController" level="all"/> -->
<!--  	<Logger name="irt.tools.CheckBox.SpectrumInversionSwitch" level="all"/> -->
<!--  	<Logger name="irt.tools.CheckBox.LnbPowerSwitch" level="debug"/> -->
<!--  	<Logger name="irt.tools.CheckBox.LnbReferenceSwitch" level="all"/> -->
<!--  	<Logger name="irt.tools.combobox.LoSelectComboBox" level="all"/> -->
<!--  	<Logger name="irt.controller.serial_port.ComPort" level="all"/> -->
<!--  	<Logger name="irt.controller.serial_port.ComPortThreadQueue" level="all"/> -->
<!--  	<Logger name="irt.controller.translation.Translation" level="debug"/> -->
<!--  	<Logger name="irt.tools.fx.MonitorPanelFx" level="all"/> -->
<!--  	<Logger name="irt.tools.fx.MonitorPanelSwingWithFx" level="all"/> -->
<!--  	<Logger name="irt.tools.RegisterTextField" level="all"/> -->
<!--  	<Logger name="irt.controller.DumpController" level="warn"/> -->
<!--  	<Logger name="irt.tools.button.MuteButton" level="all"/> -->
<!--  	<Logger name="irt.tools.panel.subpanel.progressBar.Section" level="debug"/> -->

    <Logger name="dumper" level="INFO">
      <AppenderRef ref="DumpFile" />
    </Logger>

     <Logger name="comPort"> <!-- level="info"> Level put programmatically in ComPort class -->
      <AppenderRef ref="communication" />
    </Logger>

    <Root level="error">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="log"/>
    </Root>
  </Loggers>
</Configuration>
