<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
    	<PatternLayout pattern="%-5p %d [%t] %C{2} %M (%F:%L) - %m%xEx%n"/>
   		<MarkerFilter marker="FileWork" onMatch="DENY" onMismatch="ACCEPT"/>
    </Console>

    <RollingFile name="DumpFile" fileName="${sys:user.home}/irt/${sys:serialNumber}/${sys:serialNumber}.log"
    						  filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/${sys:serialNumber}-%d{yyyy-MM-dd}-%i.log.gz"
    						  bufferedIO="false">
		<PatternLayout pattern="%n%-5p %d%n %M (%F:%L)%n%m%n" />
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingFile>

    <RollingRandomAccessFile name="communication" fileName="${sys:user.home}/irt\${sys:serialNumber}/comm_${sys:serialNumber}.log"
    						  			filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/comm_${sys:serialNumber}-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%-5p %d %M (%F:%L) %m%n"/>
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="log" fileName="${sys:user.home}/irt/${sys:serialNumber}/log_${sys:serialNumber}.log"
    					filePattern="${sys:user.home}/irt/${sys:serialNumber}/$${date:yyyy-MM}/log_${sys:serialNumber}-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout pattern="%-5p %d %M (%F:%L) %m%n"/>
   		<MarkerFilter marker="FileWork" onMatch="DENY" onMismatch="ACCEPT"/>
		<Policies>
			<SizeBasedTriggeringPolicy size="500 MB" />
		</Policies>
		<DefaultRolloverStrategy max="10" />
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
 	<Logger name="irt.irt_gui.IrtGui" level="WARN"/>

 	<Logger name="irt.tools.panel.UserPicobucPanel" level="WARN"/>
 	<Logger name="irt.tools.panel.PicobucPanel" level="WARN"/>

 	<Logger name="irt.tools.panel.head.IrtPanel" level="WARN"/>
 	<Logger name="irt.tools.panel.head.HeadPanel" level="WARN"/>
 	<Logger name="irt.tools.panel.head.UnitsContainer" level="WARN"/>

 	<Logger name="irt.tools.panel.vizards.address.AddressWizard" level="WARN"/>
 	<Logger name="irt.tools.panel.vizards.address.AutoAddressPanel" level="WARN"/>
 	<Logger name="irt.tools.panel.vizards.address.AutoAddressPanel$AddressWorker" level="WARN"/>
 	<Logger name="irt.tools.panel.vizards.address.ManualAddressPanel" level="WARN"/>

  	<Logger name="irt.tools.panel.subpanel.BIASsPanel" level="WARN"/>
  	<Logger name="irt.tools.panel.subpanel.RedundancyPanel" level="WARN"/>
  	<Logger name="irt.tools.panel.subpanel.PLL_HMC807LP6CE_Reg9" level="WARN"/>

  	<Logger name="irt.tools.panel.subpanel.monitor.MonitorPanel" level="WARN"/>
  	<Logger name="irt.tools.panel.subpanel.monitor.MonitorPanelSSPA" level="WARN"/>
  	<Logger name="irt.tools.panel.subpanel.monitor.MonitorPanelConverter" level="WARN"/>

  	<Logger name="irt.tools.panel.subpanel.control.ControlPanelPicobuc" level="WARN"/>
  	<Logger name="irt.tools.panel.subpanel.control.ControlPanelSSPB" level="WARN"/>

 	<Logger name="irt.controller.AlarmsController" level="WARN"/>
 	<Logger name="irt.controller.ControllerAbstract" level="WARN"/>
 	<Logger name="irt.controller.GuiControllerAbstract$MeasurementWorker" level="WARN"/>
 	<Logger name="irt.controller.GuiController" level="WARN"/>
 	<Logger name="irt.controller.GuiControllerUser" level="WARN"/>

 	<Logger name="irt.controller.DeviceDebagController" level="WARN"/>
 	<Logger name="irt.controller.DefaultController" level="WARN"/>
 	<Logger name="irt.controller.DumpControllers" level="WARN"/>
 	<Logger name="irt.controller.MuteController" level="WARN"/>

 	<Logger name="irt.controller.translation.Translation" level="WARN"/>
 
  	<Logger name="irt.controller.serial_port.ComPortThreadQueue" level="WARN"/>
  	<Logger name="irt.controller.serial_port.value.getter.Getter" level="WARN"/>
  	<Logger name="irt.controller.serial_port.value.getter.MeasurementGetter" level="WARN"/>
  	<Logger name="irt.controller.serial_port.value.setter.ConfigurationSetter" level="WARN"/>
 
  	<Logger name="irt.data.PacketThread" level="WARN"/>
  	<Logger name="irt.data.packet.Payload" level="WARN"/>

    <Logger name="dumper" level="INFO">
      <AppenderRef ref="DumpFile" />
    </Logger>

     <Logger name="comPort"> <!-- level="info"> Level put programmatically in ComPort class -->
      <AppenderRef ref="communication" />
    </Logger>

    <Root level="error">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="log"/>
    </Root>
  </Loggers>
</Configuration>
