<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>

	<Appenders>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d [%t] %-40.40c{1.} %M (%F:%L) - %m%xEx%n" />
		</Console>

		<RollingRandomAccessFile name="LogFile"
								 fileName="${sys:user.home}/irt/irtGui.5.0.log"
								 filePattern="${sys:user.home}/irt/irtGui.5.0-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%n%-5p %d%n %M (%F:%L)%n%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>

<!-- Dumper -->
		<RollingRandomAccessFile name="DumpFile"
								 fileName="${sys:user.home}/irt/UnknownSerialNumber/UnknownSerialNumber.log"
								 filePattern="${sys:user.home}/irt/UnknownSerialNumber/UnknownSerialNumber-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%n%-5p %d%n %M (%F:%L)%n%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<logger name="irt.gui.controllers.components.RegistersController" level="error"/>
		<logger name="irt.gui.controllers.components.RegistersController$ValueChangeAnalyzer" level="error"/>

		<!-- <logger name="irt.gui.data.DeviceInfo" level="ALL"/> -->
		<!-- <logger name="irt.gui.data.LinkedPacketChecksum" level="ALL"/> -->
<!-- 		<logger name="irt.gui.data.LinkedPacketPriorityBlockingQueue" level="info"/> -->

		<!-- <logger name="irt.gui.data.packet.PacketHeader" level="ALL"/> -->

<!-- 		<logger name="irt.gui.data.packet.observable.alarms.AlarmIDsPacket" level="ALL"/> -->
		<!-- <logger name="irt.gui.data.packet.observable.PacketAbstract5" level="ALL"/> -->
		<!-- <logger name="irt.gui.data.packet.observable.InfoPacket" level="all"/> -->
		<!-- <logger name="irt.gui.data.packet.observable.BiasPacket" level="debug"/> -->
		<!-- <logger name="irt.gui.data.packet.observable.CallibrationModePacket" level="debug"/> -->
<!-- 		<logger name="irt.gui.data.packet.observable.configuration.MutePacket" level="all"/> -->

<!-- 		<logger name="irt.gui.controllers.components.AlarmFieldController" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.PanelAlarmsController" level="ALL"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ValuePanelController" level="ALL"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ValuesController" level="ALL"/> -->
<!-- 		<logger name="irt.gui.controllers.components.DebugInfoController" level="ALL"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ButtonMute" level="ALL"/> -->

		<!-- <logger name="irt.gui.controllers.IrtGuiController" level="ALL"/> -->
		<!-- <logger name="irt.gui.controllers.LinkedPacketsQueue" level="ALL"/> -->
<!-- 		<logger name="irt.gui.controllers.LinkedPacketSender" level="ALL"/> -->

<!-- 		<logger name="irt.gui.controllers.monitor.InfoController" level="ALL"/> -->
<!-- 		<logger name="irt.gui.controllers.monitor.MeasurementController" level="ALL"/> -->


		<!-- <logger name="irt.gui.controllers.components.SerialPortController" level="all"/> -->

<!-- 		<logger name="irt.gui.controllers.components.BiasController" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ConverterController" level="all"/> -->

<!-- 		<logger name="irt.gui.controllers.components.TextFieldRegister" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.PanelRegisters" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.RegistersController" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ButtonCalibrationMode" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.LabelValue" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ScheduledNodeAbstract" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ComboBoxUnitAddress" level="all"/> -->

<!-- 		<logger name="irt.gui.controllers.components.TextFieldConfiguration" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.TextFieldConfiguration$Updater" level="debug"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ComboBox10MHzReferenceSource" level="debug"/> -->

<!-- 		<logger name="irt.gui.controllers.socket.SocketWorker" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.socket.ServerHandler" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.socket.RequestHandler" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.socket.ClientSocket" level="all"/> -->

<!-- 		<logger name="irt.gui.controllers.flash.ButtonFCM" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.flash.service.FileFinder" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.flash.ButtonErase" level="all"/> -->

<!-- 		<logger name="irt.gui.controllers.calibration.PanelPrologix" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.calibration.PanelSignalGenerator" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.calibration.PanelTasks" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.calibration.process.SequentialProcess" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.calibration.process.CalibrationMap" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.calibration.process.AverageDouble" level="all"/> -->
<!-- 		<logger name="irt.gui.controllers.components.ComboBoxLoSelect" level="debug"/> -->
<!-- 		<logger name="irt.gui.data.packet.observable.configuration.LoFrequenciesPacket" level="all"/> -->

		<Root level="error">
			<AppenderRef ref="LogFile" />
			<AppenderRef ref="STDOUT" />
		</Root>

    	<Logger name="dumper" level="INFO">
      		<AppenderRef ref="DumpFile" />
    	</Logger>
	</Loggers>

</Configuration>
