.monitor{
	-fx-background-color: #0b173b;
    -fx-background-radius: 5.0; 
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
}
.monitor .label.description{
	-fx-text-fill: #99FFFF;
}
.monitor .label.value{
	-fx-text-fill: WHITE;
}
.monitor .label.value{
	-fx-text-fill: WHITE;
}
.monitor .label, .alarms .label{
	-fx-font-weight: BOLD;
	-fx-font-size: 12px;
}
.monitor .label.locked, .monitor .label.unmuted, .alarms .NO_ALARM, .alarms .INFO{
	-fx-text-fill: DARKBLUE;
	-fx-background-color: LIMEGREEN;
}
.monitor .label.unlocked, .alarms .MAJOR, .alarms .CRITICAL{
	-fx-text-fill: YELLOW;
	-fx-background-color: RED;
}
.monitor .label.muted{
	-fx-text-fill: BLACK;
	-fx-background-color: YELLOW;
}
.alarms{
	-fx-background-color: TRANSPARENT;
}
.alarms .label.description{
	-fx-text-fill: BLUE;
}
.alarms .WARNING, .alarms .MINOR{
	-fx-text-fill: DARKBLUE;
	-fx-background-color: BISQUE;
}
.button{
	-fx-cursor: hand;
}
.yborder{
	-fx-border-color: YELLOW;
	-fx-border-width: 1px;
}
.activeButton{
	-fx-text-fill: yellow;
	-fx-background-color: blue;
	 -fx-border-color: yellow;
}
.transparent{
	-fx-background-color: rgba(0, 0, 0, 0);
}
.MUTE, .MUTE_TTL{
	-fx-text-fill: BLACK;
	-fx-background-color: YELLOW;
}
.UNLOCKED{
	-fx-text-fill: YELLOW;
	-fx-background-color: RED;
}
.LOCK, .LOCKED, .PLL1, .PLL2, .PLL3{
	-fx-text-fill: YELLOW;
	-fx-background-color: GREEN;
}
.RED_BORDER{
	 -fx-border-color:red;
}