#bias{
	-fx-background-color: #E5E4E2;
/*	-fx-background-image: url("/images/register/background/100WCarrir.png"); */
	-fx-background-repeat: stretch; 
	-fx-background-size: stretch ;
}
.mouseOver:hover{
	-fx-background-color: rgba(0, 255, 255, .05) ;
}
.label:hover{
	-fx-scale-x :2;
	-fx-scale-y :2;
}