<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<div class="container-fluid" th:fragment="admv1013">
			<div class="container-fluid">
				<div class="row mb-2 mt-2"><div class="col"><button type="button" class="btn btn-outline-success form-control admv1013-save" disabled="disabled">Save All</button></div></div>
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardSpiControl" class="card mb-1 bs-info-bg-subtle">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regSpiControl" type="number" class="form-control register" placeholder="SPI_CONTROL (0)" disabled="disabled">
											<label for="regSpiControl">SPI_CONTROL (0)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container-fluid">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<input id="regRevision" type="number" class="form-control" placeholder="REVISION (0-3 bit)" readonly="readonly" disabled="disabled">
											<label for="regRevision">Revision ID (0-3 bit)</label>
										</div>
										<div class="form-floating col mb-2">
											<input id="regChipIdl" type="number" class="form-control" placeholder="CHIP_ID (4-11 bit))" readonly="readonly" disabled="disabled">
											<label for="regChipIdl">Chip ID (4-11 bit)</label>
										</div>
										<div class="col mb-2">
											<input id="regSpiSoftReser" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regSpiSoftReser" class="btn btn-outline-secondary form-control">SPI Soft Reset</label>
										</div>
										<div class="col mb-2">
											<input id="regParity" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regParity" class="btn btn-outline-secondary form-control text-truncate">Enable the Parity for Write Execution </label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardAlarm" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regAlarm" type="number" class="form-control register" placeholder="SPI_CONTROL (0)" readonly="readonly" disabled="disabled">
											<label for="regAlarm">Alarm (1)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row mb-1">
										<div class="col text-end">Parity Error (15)</div>
										<div id="parityError" class="col text-center p-1"> </div>
									</div>
									<div class="row mb-1">
										<div class="col text-end">Too Few Errors (14)</div>
										<div id="tooFewErrors" class="col text-center p-1"> </div>
									</div>
									<div class="row mb-1">
										<div class="col text-end">Too Many Errors (13)</div>
										<div id="tooManyErrors" class="col text-center p-1"> </div>
									</div>
									<div class="row">
										<div class="col text-end">Address Range Error (12)</div>
										<div id="addressRangeError" class="col text-center p-1"> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardAlarmMask" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regSpiControl" type="number" class="form-control register" placeholder="SPI_CONTROL (0)" disabled="disabled">
											<label for="regSpiControl">ALARM_MASKS (2)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regParityMask" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regParityMask" class="btn btn-outline-secondary form-control">Parity Error Mask (15)</label>
										</div>
										<div class="col mb-2">
											<input id="regTooFewErrorsMask" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regTooFewErrorsMask" class="btn btn-outline-secondary form-control">Too Few Errors Mask (14)</label>
										</div>
										<div class="col mb-2">
											<input id="regTooManyErrorsMask" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regTooManyErrorsMask" class="btn btn-outline-secondary form-control">Too Many Errors Mask (13)</label>
										</div>
										<div class="col mb-2">
											<input id="regAddressRangeErrorMask" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regAddressRangeErrorMask" class="btn btn-outline-secondary form-control">Address Range Error Mask (12)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
							<div class="row">
							<div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div>
							</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardEnable" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regSpiControl" type="number" class="form-control register" placeholder="Enable (3)" disabled="disabled">
											<label for="regSpiControl">Enable (3)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regVgaPd" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regVgaPd" class="btn btn-outline-secondary form-control">Power Down the VGA Circuit (15)</label>
										</div>
									</div>
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regMixerPd" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regMixerPd" class="btn btn-outline-secondary form-control">Power Down the Mixer Circuit (14)</label>
										</div>
									</div>
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regQuadPd" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regQuadPd" class="btn btn-outline-secondary form-control">Enable LO Quad Circuit (13:11)</label>
										</div>
									</div>
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regBandGapPd" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regBandGapPd" class="btn btn-outline-secondary form-control">Power Down the Transmitter Band Gap (10)</label>
										</div>
									</div>
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regIfMode" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regIfMode" class="btn btn-outline-secondary form-control">Enable the IF Mode (7)</label>
										</div>
									</div>
									<div class="row row-cols-1">
										<div class="col mb-2">
											<input id="regEnvelopeDetector" type="checkbox" class="btn-check"  autocomplete="off" disabled="disabled">
											<label for="regEnvelopeDetector" class="btn btn-outline-secondary form-control">Enable the Envelope Detector (5)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardLoAnpI" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regSpiControl" type="number" class="form-control register" placeholder="LO_AMP_I (5)" disabled="disabled">
											<label for="regSpiControl">LO_AMP_I (5)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<input id="regImageRejectionI" type="number" class="form-control" placeholder="Image Rejection I [13:7]" disabled="disabled">
											<label for="regImageRejectionI">Image Rejection I [13:7]</label>
										</div>
										<div class="form-floating col mb-2">
											<input id="regMixerGateVoltage" type="number" class="form-control" placeholder="Mixer Gate Voltage [6:0]" disabled="disabled">
											<label for="regMixerGateVoltage">Mixer Gate Voltage [6:0]</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardLoAnpQ" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regSpiControl" type="number" class="form-control register" placeholder="LO_AMP_Q  (6)" disabled="disabled">
											<label for="regSpiControl">LO_AMP_Q (6)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<input id="regImageRejectionQ" type="number" class="form-control" placeholder="Image Rejection Q [13:7]" disabled="disabled">
											<label for="regImageRejectionQ">Image Rejection Q [13:7]</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardOffsetI" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regOffstIControl" type="number" class="form-control register" placeholder="OFFSET_ADJUST_I (7)" disabled="disabled">
											<label for="regOffstIControl">OFFSET_ADJUST_I (7)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<input id="regOffsetIPositive" type="number" class="form-control offset-positive" placeholder="Offset I Positive [15:9]" disabled="disabled">
											<label for="regOffsetIPositive">Offset I Positive [15:9]</label>
										</div>
										<div class="form-floating col mb-2">
											<input id="regOffsetINegative" type="number" class="form-control offset-negative" placeholder="Offset I Negative [8:2]" disabled="disabled">
											<label for="regOffsetINegative">Offset I Negative [8:2]</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardOffsetQ" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regOffstQControl" type="number" class="form-control register" placeholder="OFFSET_ADJUST_Q (8)" disabled="disabled">
											<label for="regOffstQControl">OFFSET_ADJUST_Q (8)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<input id="regOffsetIPositive" type="number" class="form-control offset-positive" placeholder="Offset Q Positive [15:9]" disabled="disabled">
											<label for="regOffsetIPositive">Offset Q Positive [15:9]</label>
										</div>
										<div class="form-floating col mb-2">
											<input id="regOffsetINegative" type="number" class="form-control offset-negative" placeholder="Offset Q Negative [8:2]" disabled="disabled">
											<label for="regOffsetINegative">Offset Q Negative [8:2]</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardQUAD" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regQUAD" type="number" class="form-control register" placeholder="QUAD (9)" disabled="disabled">
											<label for="regQUAD">QUAD (9)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<select id="regSwitchDifferential" title="Switch Differential/Single-Ended Modes." class="form-control" disabled="disabled">
												<option selected="selected" disabled="disabled" hidden="hidden" value="">Switch Differential/Single-Ended Modes.</option>
												<option value='6'>SE Mode, Negative Side Disable</option>
												<option value='9'>SE Mode, Positive Side Disable</option>
												<option value='12'>Differential Mode</option>
											</select>
											<label for="regSwitchDifferential">Switch Differential/ [9:6]</label>
										</div>
										<div class="form-floating col mb-2">
											<select id="regLOBandwidth" title="LO Filters Bandwidth Selection" class="form-control" disabled="disabled">
												<option selected="selected" disabled="disabled" hidden="hidden" value="">LO Filters Bandwidth Selection.</option>
												<option value='0'>S 8.62 GHz to 10.25 GHz</option>
												<option value='5'>6.6 GHz to 9.2 GHz</option>
												<option value='10'>5.4 GHz to 8 GHz</option>
												<option value='15'> 5.4 GHz to 7 GHz</option>
											</select>
											<label for="regLOBandwidth">LO Bandwidth [3:0]</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						<div id="cardTemperature" class="card mb-1">
							<div class="card-header">
								<div class="container">
									<div class="row">
										<div class="form-floating col">
											<input id="regSpiControl" type="number" class="form-control register" title="VVA Temperature Compensation" placeholder="LO_AMP_Q  (6)" disabled="disabled">
											<label for="regSpiControl">VVA_TEMPERATURE_COMPENSATION  (10)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row row-cols-1">
										<div class="form-floating col mb-2">
											<input id="regTemperatureCompensation" type="number" class="form-control" placeholder="VVA Temperature Compensation" disabled="disabled">
											<label for="regTemperatureCompensation">VVA Temperature Compensation</label>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer"><div class="row"><div class="col">
								<button class="btn btn-outline-primary form-control btn-set" disabled="disabled">Set</button>
							</div>
							<div class="col">
								<button class="btn btn-outline-dark form-control btn-reset" disabled="disabled">Reset</button>
							</div></div></div>
						</div>
					</div>
				</div>
				<div class="row mt-1"><div class="col"><button type="button" class="btn btn-outline-success form-control admv1013-save" disabled="disabled">Save All</button></div></div>
			</div>
	</div>

</body>
</html>