<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<div class="container" th:fragment="dacs">
		<div class="card-body">
		<div class="row m-2">
			<div class="form-floating col-3">
				<input id="dacSaved" type="number" class="form-control" placeholder="Saved Value" readonly="readonly" disabled="disabled">
				<label for="dacSaved">Saved Value</label>
			</div>
			<div class="col"></div>
			<div class="form-floating col-3">
				<input id="dacStep" type="number" class="form-control" placeholder="Step">
				<label for="dacStep">Step</label>
			</div>
		</div>
		<div class="row m-2">
			<div class="col">
				<input id="dacRange" type="range" class="form-range" disabled="disabled">
			</div>
		</div>
		<div class="row m-2">
			<div class="form-floating col">
				<input id="dac1" type="number" class="form-control dac" placeholder="DAC 1" data-converter="1,0" data-buc="100,1" disabled="disabled">
				<label for="dac1">DAC 1</label>
			</div>
			<div class="form-floating col">
				<input id="dac2" type="number" class="form-control dac" placeholder="DAC 2" data-converter="2,0" data-buc="100,2" disabled="disabled">
				<label for="dac2">DAC 2</label>
			</div>
			<div class="form-floating col">
				<input id="dac3" type="number" class="form-control dac" placeholder="DAC 3" data-converter="30,0" data-buc="100,3" disabled="disabled">
				<label for="dac3">DAC 3</label>
			</div>
			<div class="form-floating col">
				<input id="dac4" type="number" class="form-control dac" placeholder="DAC 4" data-converter="30,8" data-buc="100,4" disabled="disabled">
				<label for="dac4">GAC 4</label>
			</div>
		</div>
		</div>
	</div>

</body>
</html>