<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GUI - IRT Technologies</title>
	<link rel='stylesheet' href='/webjars/bootstrap/5.3.5/css/bootstrap.min.css'>
</head>

<body>

<div class="card">

  <div class="card-body">
<!-- Auto calibration by Unit Gain -->
<th:block th:fragment="buc">
	<div class="row my-2">
		<div class="col-4" th:text="#{Type} + ':'">Type:</div>
		<div class="col">
			<select id="selectNetworkType" class="form-select">
				<option selected="selected" disabled="disabled" hidden="hidden">Select Type</option>
				<option value="1" th:text="#{Static}">Static</option>
				<option value="2" th:text="#{Dynamic}">Dynamic</option>
			</select>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-3" th:text="#{Address} + ':'">Address:</div>
		<div id="networkAddress" class="col input-group">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-3" th:text="#{Mask} + ':'">Mask:</div>
		<div id="networkMask" class="col input-group">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-3" th:text="#{Gateway} + ':'">Gateway:</div>
		<div id="networkGateway" class="col input-group">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
			<input type="number" role="group" class="form-control">
		</div>
	</div>
	<div class="row mt-2">
		<div class="col"><button id="btnVetworkOk" class="btn btn-outline-primary form-control" th:text="#{OK}">Ok</button></div>
		<div class="col"><button id="btnNetworkCancel" class="btn btn-outline-secondary form-control" th:text="#{Cancel}">Cancel</button></div>
	</div>
	<div class="row mt-2">
		<a id="btnHttp" class="btn btn-outline-info form-control" target="_blank">HTTP</a>
	</div>
</th:block>
 </div>
</div>
</html>