<!DOCTYPE html>$
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GUI - IRT Technologies</title>
	<link rel='stylesheet' href='/webjars/bootstrap/5.3.5/css/bootstrap.min.css'>
</head>

<body>

<div class="card">

  <div class="card-body">
<!-- Auto calibration by Unit Gain -->
<th:block th:fragment="buc">
	<div class="row mt-2">
		<div class="col" th:text="#{Redundancy} + ':'">Redundancy</div>
		<div class="col">
			<select id="redEnable" class="form-select" disabled>
				<option selected="selected" disabled="disabled" hidden="hidden"></option>
				<option value="false" th:text="#{Disable}">Disable</option>
				<option value="true" th:text="#{Enable}">Enable</option>
			</select>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col" th:text="#{Standby} + ':'">Standby</div>
		<div class="col">
			<select id="redMode" class="form-select" disabled>
				<option selected="selected" disabled="disabled" hidden="hidden"></option>
				<option value="0" th:text="#{Cold}">Cold</option>
				<option value="1" th:text="#{Hot}">Hot</option>
			</select>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col" th:text="#{Unit} + ':'">Unit</div>
		<div class="col">
			<select id="redName" class="form-select" disabled>
				<option selected="selected" disabled="disabled" hidden="hidden"></option>
				<option value="1">A</option>
				<option value="2">B</option>
			</select>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col" th:text="#{Status} + ':'">Status</div>
		<div id="redundancyStatus" class="col"></div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-8">
			<img id="redundancyImg" src="../static/images/BUC_X.jpg" th:src="@{/images/BUC_X.jpg}" class="img-fluid" alt="Redundancy">
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-8">
			<button id="redOnline" class="btn btn-outline-primary form-control" disabled="disabled" th:text="#{setOnline}">Set Online</button>
		</div>
	</div>
</th:block>
 </div>
</div>
</html>